<html>
  <head>
    <title>Jake thanks you</title>
    <link rel="stylesheet" href="style.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  </head>
  <body id='contactPage'>
      <div id="navbar">
          <a href="/#contact">Contact</a>
          <a href="/#projects">Projects</a>
          <a href="/#about">About me</a>
          <a href="/#home">Home</a>
        </div>
       <div class='top col-md-3 offset-md-4'>
         <div class='contactDiv'>
           Thank you <%= contact.firstName %> <%= contact.lastName %>.
          </div>
        </div> 
  </body>
</html>